.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #000;
  color: #fff;
  font-family: sans-serif;
}

.social-container {
  background: #eee;
  padding: 20px 50px;
}
.social-container h2 {
  color: rgb(0, 0, 0);
  font-weight: 300;
  line-height: 31px;
  width: 390px;
  padding-left: 15px;
  padding-top: 15px;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 25px;
}

.social-container h3 {
  color: rgb(0, 0, 0);
  font-weight: 00;
  line-height: 31px;
  width: 390px;
  padding-left: 15px;
  padding-top: 15px;
  font-size: 30px;
  margin-bottom: 25px;
}

.social {
  padding: 5px;
  padding-left: 1px;
}
.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  padding-left: 1px;
}
.socials {
  display: flex;
  padding: 5px;
  padding-left: 10px;
}

a.linkedin {
  color: #0e76a8;
  padding: 15px;
}

.linkedin:hover {
  opacity: 0.3;
  transform: scale(2);
}

a.github {
  color: #171515;
  padding: 15px;
}

.github:hover {
  opacity: 0.3;
  transform: scale(2);
}

a.twitter {
  color: #49a1eb;
  padding: 15px;
}

.twitter:hover {
  opacity: 0.3;
  transform: scale(2);
}

a.google {
  color: #ff0000;
  padding: 15px;
}

.google:hover {
  opacity: 0.3;
  transform: scale(2);
}

a.linux {
  color: #ff9900;
  padding: 15px;
}

.linux:hover {
  transform: scale(2);
}

a.react {
  color: #03dffc;
  padding: 15px;
}

.react:hover {
  transform: scale(2);
}

a.html {
  color: #fc8803;
  padding: 15px;
}

.html:hover {
  transform: scale(2);
}

a.css {
  color: #1c03fc;
  padding: 15px;
}

.css:hover {
  transform: scale(2);
}

a.js {
  color: #f6fa0a;
  padding: 15px;
}

.js:hover {
  transform: scale(2);
}

a.sass {
  color: #fc03e3;
  padding: 15px;
}

.sass:hover {
  transform: scale(2);
}

a.bootstrap {
  color: #ba03fc;
  padding: 15px;
}

.bootstrap:hover {
  transform: scale(2);
}

a.nodejs {
  color: #3eb304;
  padding: 15px;
}

.nodejs:hover {
  transform: scale(2);
}



a.python{
  color: yellow;
  padding: 15px;

}

.python:hover {
  transform: scale(2);
}

a.R{
  color: #2565e6;
  padding: 15px;

}

.R:hover {
  transform: scale(2);
}

a.Java{
  color: #ffffff;
  padding: 15px;

}

.Java:hover {
  transform: scale(2);
}






.nav-link {
  padding: 5px 25px;
  color: black;
  font-size: large;
  font-size: 25px;
}

.nav-item {
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  color: black;
  font-size: large;
  font-size: 25px;
}

.nav-item:hover {
  color: blue;
}

.nav-link:hover {
  color: blue;
}

.nav {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
}

.navbar {
  display: flex;
  margin: 0px;
  padding: 40px;
  background: #ffffff;
  color: black;
}




.hero-content-container h1 {
  font-size: 64px;
  line-height: 59px;
  width: 604px;
  font-weight: bold;
}

.hero-content-container h2 {
  font-size: 25px;
  font-weight: 300;
  line-height: 31px;
  margin-bottom: 14px;
  width: 390px;
}

.hero-section {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;

}



.about-section {
  align-items: center;
  height: 50vh;
  justify-content: center;
  padding-left: 15px;
  padding-top: 150px;
}

.skills-section {
  align-items: center;
  height: 30vh;
  justify-content: center;
}

.info-section h2 {
  font-size: 50px;
  margin-bottom: 25px;
}

.about-section p {
  font-size: 25px;
  line-height: 35px;
}

@media screen and (max-width: 768px) {
  .hero-content-container h1 {
    font-size: 40px;
    line-height: 35px;
    width: 300px;
  }
  .hero-content-container h2 {
    font-size: 15px;
    font-weight: 300;
    line-height: 31px;
    margin-bottom: 14px;
    width: 300px;
  }
  .about-section p {
    font-size: 15px;
    line-height: 35px;
  }

  .skills-section h2 {
    font-size: 25px;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
  }
  .skill{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 3px;
    padding-left: 5px;
    flex-flow: wrap;

  }
  .socials {
    display: flex;
    padding: 5px;
    padding-left: 0px;
    font-size: 13px;

  }

  .social-container{
    align-items: center;
    padding: 5px;
    padding-left: 5px;

  }

  .social-container h3{
    font-size: 20px;
  }

  .social-container h2{
    font-size: 25px;
  }

  .footer{
    align-items: center;
  }
  

  .navbar {
    display: flex;
    margin: 0px;
    padding: 40px;
    background: #ffffff;
    color: black;
    width: 604px;

  }
  .nav-link {
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
    color: black;
    font-size: large;
    font-size:13px;
    
  }
  
  .nav-item {
    display: flex;
    justify-content: space-between;
    color: black;
    font-size: large;
    font-size: 13px;
    
  }
  .nav{
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 370px;
    left:20px;
  }

  .about-section h2{
    font-size: 25px;
  }


}
  
